<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marivramchoir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".di.MyFreeApplication"
        android:allowBackup="true"
        android:icon="@drawable/marivram_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/marivram_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarIvramChoir"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.view.AllHymensInAlbumActivity"
            android:theme="@style/AllHymensTheme"
            android:exported="false" />
        <activity
            android:name=".ui.view.AlbumsActivity"
            android:exported="false"
            android:theme="@style/AlbumActivity" />
        <activity
            android:name=".ui.view.AddTarnimaActivity"
            android:exported="false"
            android:theme="@style/AddTarnimaActivity" />
        <activity
            android:name=".ui.view.HymenWordActivity"
            android:exported="false"
            android:theme="@style/AllHymensTheme" />
        <activity
            android:name=".ui.view.AllHymensActivity"
            android:exported="false"
            android:theme="@style/AllHymensTheme" />
        <activity
            android:name=".ui.view.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>